
<!-- For edit page -->
<div class="container">
    <div class="row">
    <div class="col-md-offset-3 col-md-6">
        <form class="form" method="post">

            <div class="form group">
                <label for="UsernameTextField">Name<label>
                <input type ="text" class="form-control"
                id="UsernameTextField"
                placeholder="Enter Name"
                name="Username" 
                value="<%= Incidents.Username %>"
                required>
            </div>

            <div class="form group">
                <label for="CompanyTextField">Company<label>
                <input type ="text" class="form-control"
                id="CompanyTextField"
                placeholder="Enter Company"
                name="Company" 
                value="<%= Incidents.Company %>"
                required>
            </div>

            <div class="form group">
                <label for="Incident_DateTextField">Date of Incident<label>
                <input type ="text" class="form-control"
                id="Incident_DateTextField"
                placeholder="Enter Date of Incident"
                name="Incident_Date" 
                value="<%= Incidents.Incident_date %>"
                required>
            </div>


            <div class="form group">
                <label for="Incident_TypeTextField">Type of Incident<label>
                <input type ="text" class="form-control"
                id="Incident_TypeTextField"
                placeholder="Enter Type of Incident"
                name="Incident_Type" 
                value="<%= Incidents.Incident_Type %>"
                required>
            </div>

            <div class="form group">
                <label for="nameTextField">Severity<label>
                <input type ="number" class="form-control"
                id="severityTextField"
                placeholder="Enter Severity"
                name="Severity" min="0" max="10" step="1"
                value="<%= Incidents.Severity %>"
                required>
            </div>

            <div class="form group">
                <label for="nameTextField">Cost<label>
                <input type ="number" class="form-control"
                id="severityTextField"
                placeholder="Enter Amount of damages (Round to nearest dollar)"
                name="Cost"
                value = "<%= Incidents.Cost %>"
                required>
            </div>
        <button class ="btn-btn-primary" type = "submit">
            Submit
        </button>
        </form>
